h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 430%;
    letter-spacing: 0.19cm;
    
    
}

#button-family {
    width: 25%;
    font-size: 140%;
    color: white;
    background:#F3AA60 ; /* color de fondo */
    border: 2px solid #F3AA60; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 15px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 10px;
    font-family: 'Belleza', sans-serif;;
    letter-spacing: 0.10cm;
}
#button-family:hover{
    color: #F3AA60;
}
#button-family::after{
    content: "";
  background:white; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
#button-family:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s; 
}
.container-family-asanas{
    
    display: flex;
   flex-direction: column;
   align-items: center;
}
.logo{
    width: 14%;
    position: relative;
    left: 43%;
    
}