.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1D5B79; /* Cambia esto al color que desees */
  padding: 10px;
  z-index: 1000; /* Asegura que la barra de navegación esté en la parte superior */
}

.go-family{
    width: 3%;
   position: absolute;
   top: 26px;
  left: 90%;
}
.logo-family{
position: relative;
left: 45%;
    width: 10%;
}


  .section-estadistic {
    position: absolute;
    top: 230px;
    left: 78%;
    background-color: #468B97;
    padding: 10px;
    border-radius: 8px;
    width: 220px; /* Añadimos un ancho inicial */
    text-align: center; /* Centramos el contenido */
    font-family: 'Belleza', sans-serif;;
    color: white;
   
  }

  .section-estadistic h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .section-estadistic button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
.start{
  background-color: #F3AA60;
  color: white;
  border-radius: 15px;
  border-color: #F3AA60;
  cursor: pointer;
}
.big-container{
  
  display: grid;
  gap: 0px 0;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  max-width: 100%;
}


.card {
  
  width: 100%; /* Ajustar automáticamente al ancho de la columna */
  height: auto;
  transform: scale(0.9); /* Escalar las tarjetas */
  cursor: pointer;

   
}
.card-image {
 width: 100%;
  height: auto;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  width: 170px; /* Cambiar el tamaño de las imágenes dentro de las tarjetas */
  height: 150px; 
}

.card:hover {
  transform: scale(0.90);
}





  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 480px) {
    .section-estadistic {
      width: auto; /* Cambiamos el ancho a automático para que se ajuste al contenido */
      left: 10px; /* Ajustamos la posición izquierda */
      right: 10px; /* Ajustamos la posición derecha */
    }
  }
  .standing-h1{
    font-size: 35px;
    color:  #F3AA60;
    background-color: #468B97;
    width: 98%;
    height: 80px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  .app{
    display: flex; 
    width: 98%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    
  }
  @media (max-width: 767px) {
    .big-container {
      gap: 0px 0;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
      grid-template-columns: 1fr; /* Cambiar a una sola columna en dispositivos móviles */
    }
    .Card,.card-image {
      transform: scale(0.9); /* Restaurar el tamaño original en dispositivos móviles */
      transform-origin: center top; /* Cambiar el punto de origen de la escala de nuevo */
    }
  }
  

  
  